BODY {
	SCROLLBAR-FACE-COLOR: #990000;
	SCROLLBAR-HIGHLIGHT-COLOR: #ff0000;
	SCROLLBAR-SHADOW-COLOR: #cc3300;
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-TRACK-COLOR: #000000;
	SCROLLBAR-BASE-COLOR: #990000;
	scrollbar-width: 8px;
	scrollbar-3d-light-color: #cc0000;
	scrollbar-dark-shadow-color: #cc3300;
	background-color : Black;
	color : White;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
A:active {
	COLOR: #cc0000;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-variant : normal;
	font-size : 11px;
}
A:link {
	COLOR: #990000 ;
	text-decoration: none;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant : normal;
	font-size : 11px;
}
A:visited {
	COLOR: #990000 ;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant : normal;
	font-size : 11px;
}
A:hover {
	COLOR: #cc0000;
	text-decoration: none;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant : normal;
	font-size : 11px;
}	
A.menu:active {
	COLOR: Silver;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-variant : normal;
	font-size : 13px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif
}
A.menu:link {
	COLOR: #000000 ;
	text-decoration: none;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant : normal;
	font-size : 13px;
}
A.menu:visited {
	COLOR: #000000 ;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant : normal;
	font-size : 13px;
}
A.menu:hover {
	COLOR: Silver;
	text-decoration: none;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant : normal;
	font-size : 13px;
}
A.articoli:active {
	COLOR: #cc0000;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-variant : normal;
	font-size : 11px;
}
A.articoli:link {
	COLOR: #990000 ;
	text-decoration: none;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant : normal;
	font-size : 11px;
}
A.articoli:visited {
	COLOR: #0066FF;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant : normal;
	font-size : 11px;
}
A.articoli:hover {
	COLOR: #cc0000;
	text-decoration: none;
	font-weight : bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-variant : normal;
	font-size : 11px;
}	
.mlist {
	color: White;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.go{ BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #000000 1px solid; 
FONT-SIZE: 8pt; 
BORDER-LEFT: #000000 1px solid; 
COLOR: #ffffff; 
BORDER-BOTTOM: #000000 1px solid; 
FONT-FAMILY:Verdana, Geneva, Arial, Helvetica, sans-serif; 
BACKGROUND-COLOR: #990000}
.titolo{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : White;
	font-size : 13px;
	font-weight : bold;
}
.bgtitolo{BORDER-TOP-WIDTH: 1px; 
BORDER-LEFT-WIDTH: 1px; 
BORDER-BOTTOM: 1px solid; 
BORDER-RIGHT-WIDTH: 1px ;
 border-Color: #000000 ;
 background-color:  #000000 ; 
 }
.bordoright{
	border-right: medium ridge #990000;
}
.bordotop{  border-top: medium ridge #990000;
}
.bordobottom{ border-bottom: medium ridge #990000; 
}
.bordoleft{border-left: medium ridge #990000;  
}
.bordorosso{
	border-right : medium ridge #990000;
	border-left : medium ridge #990000;
	border-top : medium ridge #990000;
}
.bordomenu{
	border-bottom: 2px solid Black;
	background-color : #990000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : Black;
}
hr{
	color: #990000;
}
.testo{color : White;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-variant : normal;
	font-style : normal;
	text-decoration : none;  
}
	h2{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 26px;
	font-style : normal;
	font-weight : bold;
	text-decoration : none;
	color : #990000;
}
.ciso{
	background-color: #990000;
	color : White;
}
 ul{
	color: White;
	list-style-type : square;
	white-space : normal;
	list-style-position : outside;
	display : block;
	list-style-image : url("../img/square.gif");
	text-decoration: none;
	font-size : 11px;
}