.mstheme {
	nav-banner-image: url(blebanna.gif); separator-image: url(blesepa.gif); list-image-1: url(blebul1a.gif); list-image-2: url(blebul2a.gif); list-image-3: url(blebul3a.gif); navbutton-horiz-pushed: url(blenavhs.gif); navbutton-horiz-normal: url(blenavha.gif); navbutton-horiz-hovered: url(blenavhh.gif); navbutton-vert-pushed: url(blenavvs.gif); navbutton-vert-normal: url(blenavva.gif); navbutton-vert-hovered: url(blenavvh.gif); navbutton-home-normal: url(blehomea.gif); navbutton-home-hovered: url(blehomeh.gif); navbutton-home-pushed: url(blehomep.gif); navbutton-up-normal: url(bleupa.gif); navbutton-up-hovered: url(bleuph.gif); navbutton-up-pushed: url(bleupp.gif); navbutton-prev-normal: url(blebacka.gif); navbutton-prev-hovered: url(blebackh.gif); navbutton-prev-pushed: url(blebackp.gif); navbutton-next-normal: url(blenexta.gif); navbutton-next-hovered: url(blenexth.gif); navbutton-next-pushed: url(blenextp.gif)
}
.mstheme-bannertxt {
	FONT-SIZE: 6px; COLOR: rgb(255,204,0); FONT-FAMILY: "Trebuchet MS", Arial, Helvetica
}
.mstheme-horiz-navtxt {
	FONT-WEIGHT: bold; FONT-SIZE: 2px; COLOR: rgb(0,0,0); FONT-FAMILY: Verdana, Arial, Helvetica
}
.mstheme-vert-navtxt {
	FONT-WEIGHT: bold; FONT-SIZE: 2px; COLOR: rgb(0,0,0); FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: right
}
.mstheme-navtxthome {
	FONT-SIZE: 1px; COLOR: rgb(255,204,0); FONT-FAMILY: "Trebuchet MS", Arial, Helvetica
}
.mstheme-navtxtup {
	FONT-SIZE: 1px; COLOR: rgb(255,204,0); FONT-FAMILY: "Trebuchet MS", Arial, Helvetica
}
.mstheme-navtxtprev {
	FONT-SIZE: 1px; COLOR: rgb(255,204,0); FONT-FAMILY: "Trebuchet MS", Arial, Helvetica
}
.mstheme-navtxtnext {
	FONT-SIZE: 1px; COLOR: rgb(255,204,0); FONT-FAMILY: "Trebuchet MS", Arial, Helvetica
}
UL {
	LIST-STYLE-IMAGE: url(image004.gif)
}
UL UL {
	LIST-STYLE-IMAGE: url(image005.gif)
}
UL UL UL {
	LIST-STYLE-IMAGE: url(image006.gif)
}
